body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --accent-color: #ff6c00;
  --dark-color: #303030;
  --light-color: #ffffff;
  --text-color: #555555;
  --text-modify-color: #9da4bd;
  --background-modify-color: #f7f7f7;
  --background-color: #191c26;
}

/* ================COMPONENTS================= */

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--light-color);
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-color);
}

.btn-light-theme {
  color: var(--text-color);
}

.btn-light-theme:hover,
.btn-light-theme:focus {
  color: var(--light-color);
}

.subtittle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--text-modify-color);
}

.tittle {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--dark-color);
}

/* ================COMPONENTS================= */

/* ================HEADER================= */
.page-header {
  background-color: #837e7e;
  padding: 32px 0;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header .navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-header_list {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--light-color);
  display: flex;
  gap: 30px;
}

.phone {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color);
}

.social-list-link {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--dark-color);
}

.logo {
  margin-right: 130px;
}

.page-header .btn {
  margin-left: 43px;
  margin-right: 17px;
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

.page-header_list-link:hover,
.page-header_list-link:focus {
  color: var(--accent-color);
}

/* ================HEADER================= */

/* ================HERO================= */
.hero {
}

.hero .container {
  display: flex;
}

.hero_left-box {
  width: 100px;
}

.hero_text-box {
  background-color: #837e7e;
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
}

.hero_tittle {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-color);
  width: 444px;
}

.hero_description {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
  width: 360px;
}
/* ================HERO================= */

/* ================ABOUT================= */
.about {
  padding: 120px 0;
}

.about .container {
  display: flex;
  gap: 30px;
}

.about_ridht-side {
}

.about_description {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.about_article {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.about_list {
  display: flex;
  gap: 30px;
}

.about .subtittle {
  margin-bottom: 20px;
}

.about .tittle {
  margin-bottom: 20px;
}

.about_description {
  margin-bottom: 20px;
}

.about_article {
  margin-bottom: 42px;
}

/* ================ABOUT================= */

/* ================PRICES================= */
.prices {
  background-color: var(--dark-color);
  padding: 120px 0;
}

.prices_box {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.prises_left-list,
.prises_right-list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
  background-color: rgba(148, 123, 123, 0.2);
}

.prises_right-list-item,
.prises_left-list-item {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--text-modify-color);
  display: flex;
  justify-content: space-between;
}

.prises_left-list-item:not(:last-child),
.prises_right-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices .tittle {
  color: var(--light-color);
  margin-bottom: 44px;
}

.prices .subtittle {
  margin-bottom: 20px;
}

.prices .btn {
  margin: 0 auto;
  display: block;
}

/* ================PRICES================= */

/* ================ADVANTAGES================= */

.advantages {
  padding: 129px 0 121px 0;
}

.advantages .container {
  display: flex;
  gap: 130px;
}

.advantages_list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-left: 70px;
}

.advantages_list-item {
  max-width: 170px;
  max-height: 133px;
  width: 100%;
  height: 100%;
  background-color: var(--background-modify-color);
  padding: 20px 24px;
}

.advantages_list-item:nth-child(even) {
  margin-top: 35px;
}

.advantages_list-number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--dark-color);
  margin-bottom: 6px;
  display: block;
  text-align: center;
}

.advantages_list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--dark-color);
  text-align: center;
}

.advantages_description {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-color);
  max-width: 500px;
}

.advantages .subtittle {
  margin-bottom: 20px;
}

.advantages .tittle {
  margin-bottom: 20px;
  max-width: 430px;
}
/* ================ADVANTAGES================= */

/* ================BARBERS================= */
.barbers {
  background-color: var(--background-modify-color);
  padding: 120px 0;
}

.barbers_list {
  display: flex;
  gap: 30px;
}

.barbers_list-img {
  max-width: 370px;
  max-height: 346px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.barbers_list-name {
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
  text-align: center;
}

.barbers_list-ocupatiom {
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;
  color: #ff6c00;
  text-align: center;
}

.barbers .subtittle {
  margin-bottom: 20px;
}

.barbers .tittle {
  margin-bottom: 44px;
}
/* ================BARBERS================= */

/* ================GALLERY================= */
.gallery {
  padding: 120px 0;
}

.gallery_list {
  display: flex;
  gap: 30px;
}

.gallery .subtittle {
  margin-bottom: 44px;
}

/* ================GALLERY================= */

.background-box {
  background-color: var(--background-color);
}

.background-box .container {
  display: flex;
  justify-content: space-between;
}

/* ================BOOKING================= */
.booking .tittle {
  color: var(--light-color);
}

/* ================BOOKING================= */

/* ================CONTACTS================= */

.address-list-item {
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--text-modify-color);
}

.address-list-item:nth-child(1) {
  font-weight: 700;
}

.address-list-item:nth-child(3) {
  text-decoration-line: underline;
}

.contacts_time {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts .tittle {
  color: var(--light-color);
}

/* ================CONTACTS================= */
