.modal {
  width: 408px;
  height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-color);
  border-radius: 5px;
  padding: 69px 24px 27px 24px;

  box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #2e2f42;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}
